In [1]:
import pandas as pd
import numpy as np
import pickle
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_csv('data307200.csv')
df = df.iloc[:,1:]
df

,N,P,K,S,Fe,Zn,temperature,humidity,ph,rainfall,label
0,120,87,22,24,1,39,22.353398,77.264643,5.882813,103.201597,rice
1,119,57,41,45,68,33,23.188260,77.807440,5.401141,116.288489,maize
2,113,54,48,5,11,30,18.594445,14.258040,7.113361,80.839283,chickpea
3,0,84,33,8,13,79,15.053746,64.935381,7.318854,38.844471,lentil
4,33,44,30,19,5,2,19.983440,88.033583,6.978892,97.457283,pomegranate
...,...,...,...,...,...,...,...,...,...,...,...
307195,2,92,36,52,45,51,20.890681,77.532683,5.790386,52.284005,grapes
307196,37,35,205,25,12,41,18.825376,90.874273,7.625115,110.445908,apple
307197,47,39,29,45,53,21,20.940993,85.705859,6.300294,96.960491,orange
307198,19,37,34,4,113,34,21.839642,76.740364,6.132994,97.279923,cotton
307199,92,66,36,21,2,1,24.293270,80.414351,5.509501,167.138149,coffee

In [3]:
X = df.iloc[:,:-1]
y = df.iloc[:,-1]
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [4]:
rf = RandomForestClassifier()
rf.fit(X_train,y_train)
y_pred=rf.predict(X_test)
score=accuracy_score(y_test,y_pred)

In [5]:
score

0.634228515625

In [8]:
pickle_out = open("CropRecommendation.pkl","wb")
pickle.dump(rf, pickle_out)
pickle_out.close()

In [7]:
rf.predict([[33.0,44.0,30.0,19.0,5.0,2.0,20.0,88.0,67.0,97.0]])

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

array(['pomegranate'], dtype=object)